html(lang="ru")
  head
    meta(charset="utf-8")
    title= "tz-ivi"
    link(rel='stylesheet', href='css/style.css', type='text/css')
    body
        .clip-path
            .clip-path__item
                .clip-path__item-text    
        script(src="js/script.js")
